body {
    background-color: lightgray;
}

#wrapper {
    width: 75%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
}

.qbox1, .qbox2, .qbox3 {
    box-sizing: border-box;
}

.qbox1 {
    margin: 20px;
    border: 25px solid black;
    padding: 10px 30px;
    width: 500px;
    border-radius: 25px;
    font-family: "Tangerine", cursive;
    font-size: 25px;
}

.qbox2 {
    margin: 20px;
    border: 40px dotted yellow;
    padding: 30px 50px;
    width: 500px;
    background: #f1a0fa;
    border-radius: 90px;
}

.qbox3 {
    margin: 20px;
    border: 30px double darkred;
    padding: 30px 80px;
    width: 500px;
    background: tan;
    border-radius: 50px;
}