@font-face {
    font-family: October Crow;
    src: url("October Crow.ttf");
  }

  @font-face {
    font-family: Tombstone;
    src: url("Tombstone.otf");
  }

#wrapper {
    margin: 0 auto;
    text-align: center;
    background-color: #fb9728;
}

nav {
    font-family: Tombstone;
    font-size: 1.7em;
}

li {
    float: left;
    padding: 15px;
    list-style-type: none;
  }

  li:hover {
    background-color: #4c542c;
    color: #ffd177;
  }
  

ul {
    display: inline-block;
    text-align: left;
}

header {
    border: solid black;
}

h1 {
    font-family: October Crow;
    font-size: 3em;
}

h2 {
    font-family: October Crow;
    font-size: 2em;
}

p {
    font-family: Tombstone;
    font-size: 1.5em;
}

footer {
    font-family: Tombstone;
}